body {
  margin: 0;
  background: #0d1117;
  font-family: Arial;
  color: white;
}

.header {
  background: #161b22;
  padding: 10px;
  text-align: center;
}
.logo {
  width: 140px;
}

.banner-img {
  width: 100%;
  border-bottom: 3px solid #222;
}

.welcome-img {
  width: 100%;
  margin-top: 10px;
  border-bottom: 3px solid #222;
}

.games-section {
  padding: 15px;
}
.games-title {
  font-size: 26px;
  margin-bottom: 15px;
  color: #00a2ff;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.game-card {
  background: #111;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #222;
}
.game-card img {
  width: 100%;
  border-radius: 10px;
}
.game-card p {
  margin-top: 5px;
  font-size: 18px;
}

.payment {
  padding: 20px;
  text-align: center;
}
.payment-flex img {
  width: 110px;
  margin: 10px;
  background: #fff;
  padding: 8px;
  border-radius: 12px;
}
.payment-number {
  margin-top: 10px;
  font-size: 22px;
  color: #00e676;
  font-weight: bold;
}
.warning {
  margin-top: 5px;
  color: #fbd46d;
  font-weight: bold;
}

.footer {
  margin-top: 20px;
  padding: 12px;
  background: #161b22;
  text-align: center;
  color: #aaa;
}
